#nav{
    padding: 1em;
    
}
#home{
    margin: 1em;
    color: aliceblue;
}
#pro{
    margin: 1em;
    color: aliceblue;
}
#det{
    margin: 1em;
    color: aliceblue;
}
body{
    background-color: blanchedalmond;
}